{% if item %}
    <div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        <a href="#" class="w-1/4">
            <img class="rounded-xl hover:shadow" src="{{ item.product.image.url }}">
        </a>
        <div class="w-3/4 pl-6">
            <div class="flex justify-between">
                <a  href="#" class="text-lg">{{ item.product.name }}</a>
                <span class="mb-6 text-gray-400">Rs.{{ item.total_price }}</span>
            </div>
            <hr>
            <div class="quantity mt-6 flex items-center space-x-4">
                <a 
                href="#" 
                class="p-3 bg-gray-100 font-semibold"
                hx-get="{% url 'cart:update_cart' item.product.id 'decreament' %}"
                hx-target="#cart-item-{{ item.product.id }}"
                hx-swap="outerHTML"
                >-</a>
                <span>{{ item.quantity }}</span>
                <a 
                href="#" 
                class="p-3 bg-gray-100 font-semibold"
                hx-get="{% url 'cart:update_cart' item.product.id 'increament' %}"
                hx-target="#cart-item-{{ item.product.id }}"
                hx-swap="outerHTML"
                >+</a>
            </div>
        </div>
    </div>
{% endif %}